### Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
#### This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [2]:
# connect to the driver
driver = webdriver.Chrome(r"C:\Users\pc\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\pc\AppData\Local\Temp\ipykernel_22556\80213923.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\pc\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
# scraping the naukri page automated chrome browser
driver.get("http://www.naukri.com")

In [4]:
# enter designation and location
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analysis')

In [5]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [6]:
# enter search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experiance_required=[]

In [8]:
# scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

    
# scraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
# scraping job experiance from given page
experiance_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experiance_tags[0:10]:
    experiance=i.text
    experiance_required.append(experiance)

In [9]:
print(len(job_title),len(job_location),len(company_name),len(experiance_required))

10 10 10 10

In [10]:
import pandas as pd
data=pd.DataFrame({"Title":job_title,"Location":job_location,"Company":company_name,"Experience":experiance_required})
data

,Title,Location,Company,Experience
0,Senior Data Analyst-Turbo,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",IDFC FIRST Bank,4-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Enrich Talents,0-4 Yrs
2,"Data Analyst - GCP, Google BigQuery, Data Anal...",Bangalore/Bengaluru,Vast Consulting,2-7 Yrs
3,Senior Data Analyst | Fortune500 Banking Company,Bangalore/Bengaluru,Talent500,4-9 Yrs
4,Data Management Analyst,Bangalore/Bengaluru,Telstra,5-8 Yrs
5,Senior Data Analyst 1- Business Intelligence,Bangalore/Bengaluru,AXA,4-5 Yrs
6,Data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Gurgaon/Gurugram, Bangalore/Bengaluru",Aspyra Hr Services,3-8 Yrs
7,SR. Data Analyst,Bangalore/Bengaluru,Anicalls,7-9 Yrs
8,Data Analyst - Senior Associate - Paytm Travel,"Noida, Bangalore/Bengaluru",Paytm,0-2 Yrs
9,Data Analyst/Product Analyst - Tableau/Python,Bangalore/Bengaluru,Benchire,3-6 Yrs