### Scrape data forfirst 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
#### You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [2]:
# connect to the driver
driver = webdriver.Chrome(r"C:\Users\pc\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\pc\AppData\Local\Temp\ipykernel_26732\80213923.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\pc\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
# scraping the naukri page automated chrome browser
driver.get("https://www.flipkart.com/")

In [4]:
search=driver.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys("sneakers")

In [6]:
button=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
button.click()

In [7]:
name=driver.find_element(By.XPATH,'//div[@class="_2WkVRV"]')
print(name.text)

BIRDE

In [8]:
price=driver.find_element(By.XPATH,'//div[@class="_30jeq3"]')
print(price.text.split("₹")[1])

599

In [9]:
disc=driver.find_element(By.XPATH,'//a[@class="IRpwTa"]')
print(disc.text)

Combo Pack Of 2 Casual Shoes Sneakers For Men

In [10]:
Brand=[]
Price=[]
Description=[]

In [11]:
for i in range(1,4):
    name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in name:
        Brand.append(i.text)
    price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        Price.append(i.text.split("₹")[1])
    disc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in disc:
        Description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [12]:
print(len(Brand),len(Price),len(Description))

120 120 120

In [15]:
import pandas as pd
data=pd.DataFrame({"Brand":Brand[0:100],"Product Description":Description[0:100],"Price":Price[0:100]})
data

       Brand                                Product Description Price
0      BIRDE      Combo Pack Of 2 Casual Shoes Sneakers For Men   599
1         TR                                   Sneakers For Men   399
2        SFR                                   Sneakers For Men   399
3       aadi  Synthetic Leather |Lightweight|Comfort|Summer|...   399
4        SFR                                   Sneakers For Men   349
..       ...                                                ...   ...
95     Krors  Mens Breathable Black Sneakers Running Shoes F...   556
96     BIRDE  Premium Casual Shoes for Women Sneakers For Women   349
97     BIRDE  Premium Sports Shoes For Men Pack Of 2 Sneaker...   599
98    Kraasa                                 Sneakers For Women   399
99  HOTSTYLE                                   Sneakers For Men   499

[100 rows x 3 columns]