In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("csv2(raw).csv")
df.head()

,Name,Stars,Votes,Genre,Gross_collection,Popularity,Certification
0,The Dark Knight,"Christian Bale, Heath Ledger, Aaron Eckhart, ...",2689425,"Action, Crime, Drama",534.86,9.0,PG-13
1,The Lord of the Rings: The Return of the King,"Elijah Wood, Viggo Mortensen, Ian McKellen, O...",1869361,"Action, Adventure, Drama",377.85,9.0,PG-13
2,The Lord of the Rings: The Fellowship of the Ring,"Elijah Wood, Ian McKellen, Orlando Bloom, Sea...",1898727,"Action, Adventure, Drama",315.54,8.8,PG-13
3,Inception,"Leonardo DiCaprio, Joseph Gordon-Levitt, Elli...",2386784,"Action, Adventure, Sci-Fi",292.58,8.8,PG-13
4,The Lord of the Rings: The Two Towers,"Elijah Wood, Ian McKellen, Viggo Mortensen, O...",1687730,"Action, Adventure, Drama",342.55,8.8,PG-13

In [3]:
df.shape

(1725, 7)

In [4]:
df['stars_list'] = df['Stars'].str.split(',')

In [5]:
df_stars = pd.DataFrame(df['stars_list'].tolist()).fillna('').add_prefix('Stars_')

df_stars=df_stars.rename(columns={"Stars_0":'Star1',"Stars_1":"Star2","Stars_2":"Star3","Stars_3":"Star4"})

In [6]:
df_stars

,Star1,Star2,Star3,Star4
0,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine
1,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom
2,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean
3,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe
4,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom
...,...,...,...,...
1720,Salman Khan,Disha Patani,Randeep Hooda,Jackie Shroff
1721,Anil Kapoor,Salman Khan,Bobby Deol,Jacqueline Fernandez
1722,Enzo Zelocchi,Jana Rochelle,Ryan C.F. Buckley,William Kirkham
1723,Vivianne Bánovits,András Mózes,Barna Bokor,Gabriella Gubás
1724,Alia Bhatt,Sanjay Dutt,Aditya Roy Kapoor,Priyanka Bose

In [7]:
df['genre_list'] = df['Genre'].str.split(',')

In [8]:
df_genre = pd.DataFrame(df['genre_list'].tolist()).fillna('').add_prefix('Genre_')

df_genre=df_genre.rename(columns={"Genre_0":"Genre1","Genre_1":"Genre2","Genre_2":"Genre3"})
df_genre

      Genre1      Genre2     Genre3
0     Action       Crime      Drama
1     Action   Adventure      Drama
2     Action   Adventure      Drama
3     Action   Adventure     Sci-Fi
4     Action   Adventure      Drama
...      ...         ...        ...
1720  Action       Crime   Thriller
1721  Action       Crime   Thriller
1722  Action     Fantasy     Sci-Fi
1723  Action       Crime      Drama
1724  Action       Drama

[1725 rows x 3 columns]

In [9]:
df = pd.concat([df, df_stars,df_genre], axis=1)

df

,Name,Stars,Votes,Genre,Gross_collection,Popularity,Certification,stars_list,genre_list,Star1,Star2,Star3,Star4,Genre1,Genre2,Genre3
0,The Dark Knight,"Christian Bale, Heath Ledger, Aaron Eckhart, ...",2689425,"Action, Crime, Drama",534.86,9.0,PG-13,"[ Christian Bale, Heath Ledger, Aaron Eckhar...","[Action, Crime, Drama]",Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Action,Crime,Drama
1,The Lord of the Rings: The Return of the King,"Elijah Wood, Viggo Mortensen, Ian McKellen, O...",1869361,"Action, Adventure, Drama",377.85,9.0,PG-13,"[ Elijah Wood, Viggo Mortensen, Ian McKellen...","[Action, Adventure, Drama]",Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,Action,Adventure,Drama
2,The Lord of the Rings: The Fellowship of the Ring,"Elijah Wood, Ian McKellen, Orlando Bloom, Sea...",1898727,"Action, Adventure, Drama",315.54,8.8,PG-13,"[ Elijah Wood, Ian McKellen, Orlando Bloom, ...","[Action, Adventure, Drama]",Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,Action,Adventure,Drama
3,Inception,"Leonardo DiCaprio, Joseph Gordon-Levitt, Elli...",2386784,"Action, Adventure, Sci-Fi",292.58,8.8,PG-13,"[ Leonardo DiCaprio, Joseph Gordon-Levitt, E...","[Action, Adventure, Sci-Fi]",Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,Action,Adventure,Sci-Fi
4,The Lord of the Rings: The Two Towers,"Elijah Wood, Ian McKellen, Viggo Mortensen, O...",1687730,"Action, Adventure, Drama",342.55,8.8,PG-13,"[ Elijah Wood, Ian McKellen, Viggo Mortensen...","[Action, Adventure, Drama]",Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,Action,Adventure,Drama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1720,Radhe,"Salman Khan, Disha Patani, Randeep Hooda, Jac...",178385,"Action, Crime, Thriller",NaN,1.9,NaN,"[ Salman Khan, Disha Patani, Randeep Hooda, ...","[Action, Crime, Thriller]",Salman Khan,Disha Patani,Randeep Hooda,Jackie Shroff,Action,Crime,Thriller
1721,Race 3,"Anil Kapoor, Salman Khan, Bobby Deol, Jacquel...",47240,"Action, Crime, Thriller",NaN,1.9,NaN,"[ Anil Kapoor, Salman Khan, Bobby Deol, Jac...","[Action, Crime, Thriller]",Anil Kapoor,Salman Khan,Bobby Deol,Jacqueline Fernandez,Action,Crime,Thriller
1722,Angels Apocalypse,"Enzo Zelocchi, Jana Rochelle, Ryan C.F. Buckl...",42901,"Action, Fantasy, Sci-Fi",NaN,1.6,NaN,"[ Enzo Zelocchi, Jana Rochelle, Ryan C.F. Bu...","[Action, Fantasy, Sci-Fi]",Enzo Zelocchi,Jana Rochelle,Ryan C.F. Buckley,William Kirkham,Action,Fantasy,Sci-Fi
1723,The Cost of Deception,"Vivianne Bánovits, András Mózes, Barna Bokor,...",39239,"Action, Crime, Drama",NaN,1.5,NaN,"[ Vivianne Bánovits, András Mózes, Barna Bok...","[Action, Crime, Drama]",Vivianne Bánovits,András Mózes,Barna Bokor,Gabriella Gubás,Action,Crime,Drama
1724,Sadak 2,"Alia Bhatt, Sanjay Dutt, Aditya Roy Kapoor, P...",96160,"Action, Drama",NaN,1.2,NaN,"[ Alia Bhatt, Sanjay Dutt, Aditya Roy Kapoor...","[Action, Drama]",Alia Bhatt,Sanjay Dutt,Aditya Roy Kapoor,Priyanka Bose,Action,Drama,

In [10]:
df.drop(['stars_list','genre_list','Stars','Genre'],axis=1,inplace=True)

In [11]:
df.to_csv("CSV2_normalized.csv",index=False)

In [12]:
data=pd.read_csv("CSV2_normalized.csv")
data

,Name,Votes,Gross_collection,Popularity,Certification,Star1,Star2,Star3,Star4,Genre1,Genre2,Genre3
0,The Dark Knight,2689425,534.86,9.0,PG-13,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Action,Crime,Drama
1,The Lord of the Rings: The Return of the King,1869361,377.85,9.0,PG-13,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,Action,Adventure,Drama
2,The Lord of the Rings: The Fellowship of the Ring,1898727,315.54,8.8,PG-13,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,Action,Adventure,Drama
3,Inception,2386784,292.58,8.8,PG-13,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,Action,Adventure,Sci-Fi
4,The Lord of the Rings: The Two Towers,1687730,342.55,8.8,PG-13,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,Action,Adventure,Drama
...,...,...,...,...,...,...,...,...,...,...,...,...
1720,Radhe,178385,NaN,1.9,NaN,Salman Khan,Disha Patani,Randeep Hooda,Jackie Shroff,Action,Crime,Thriller
1721,Race 3,47240,NaN,1.9,NaN,Anil Kapoor,Salman Khan,Bobby Deol,Jacqueline Fernandez,Action,Crime,Thriller
1722,Angels Apocalypse,42901,NaN,1.6,NaN,Enzo Zelocchi,Jana Rochelle,Ryan C.F. Buckley,William Kirkham,Action,Fantasy,Sci-Fi
1723,The Cost of Deception,39239,NaN,1.5,NaN,Vivianne Bánovits,András Mózes,Barna Bokor,Gabriella Gubás,Action,Crime,Drama
1724,Sadak 2,96160,NaN,1.2,NaN,Alia Bhatt,Sanjay Dutt,Aditya Roy Kapoor,Priyanka Bose,Action,Drama,NaN