### The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respectiveboxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scrapeddata.

In [7]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By

In [8]:
# connect to the driver
driver = webdriver.Chrome(r"C:\Users\pc\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\pc\AppData\Local\Temp\ipykernel_28720\80213923.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\pc\Downloads\chromedriver_win32\chromedriver.exe")

In [9]:
driver.get("http://www.naukri.com/")

In [10]:
designation=driver.find_element(By.XPATH,'//input[@class="suggestor-input "]')
designation.send_keys("Data Scientist")

In [11]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys("Banglore")

In [12]:
# enter search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [13]:
locationf=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[2]/div[2]/div[1]/label/p/span[1]')
locationf.click()

In [14]:
salaryf=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salaryf.click()

In [15]:
job_title=[]
job_location=[]
company_name=[]
experiance_required=[]
Salary=[]

In [16]:
# scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

    
# scraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
# scraping job experiance from given page
experiance_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experiance_tags[0:10]:
    experiance=i.text
    experiance_required.append(experiance)

salary=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in salary[0:10]:
    salary=i.text
    Salary.append(salary)

In [17]:
print(len(job_title),len(job_location),len(company_name),len(experiance_required),len(Salary))

10 10 10 10 10

In [18]:
import pandas as pd
data=pd.DataFrame({"Title":job_title,"Location":job_location,"Company":company_name,"Experience":experiance_required,"Salary":Salary})
data

,Title,Location,Company,Experience,Salary
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs,Not disclosed
1,"SR. SPECIALIST, DATA ANALYTICS",Bangalore/Bengaluru,AT and T Global Business Services India P. Ltd.,5-10 Yrs,Not disclosed
2,Senior Data Scientist,Bangalore/Bengaluru,AT and T Global Business Services India P. Ltd.,5-8 Yrs,Not disclosed
3,Data Science/ ML freshers,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Cliqhr Recruitment Services,0-1 Yrs,Not disclosed
4,Data Scientist,Bangalore/Bengaluru,Capgemini,3-5 Yrs,Not disclosed
5,MACHINE LEARNING / DATA SCIENCE TRAINER,Bangalore/Bengaluru,Ethnotech Academy,2-5 Yrs,Not disclosed
6,Data Scientist/Sr. Data Scientist,Bangalore/Bengaluru,Synechron,5-10 Yrs,Not disclosed
7,Software Engineer Staff,Bangalore/Bengaluru,Juniper Networks,3-8 Yrs,Not disclosed
8,Senior Data Science and Analytics Strategy Con...,Bangalore/Bengaluru,Wells Fargo,5-7 Yrs,Not disclosed
9,Smart Dispatcher,Bangalore/Bengaluru,Capgemini,6-9 Yrs,Not disclosed