### Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
#### This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [2]:
# connect to the driver
driver = webdriver.Chrome(r"C:\Users\pc\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\pc\AppData\Local\Temp\ipykernel_13180\80213923.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\pc\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
# enter designation and location
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [7]:
# enter search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [15]:
job_title=[]
job_location=[]
company_name=[]
experiance_required=[]
urls=[]

In [16]:
# scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

    
# scraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
# scraping job experiance from given page
experiance_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experiance_tags[0:10]:
    experiance=i.text
    experiance_required.append(experiance)
    
# scraping job url from given page
url=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in url[0:10]:
    urls.append(i.get_attribute('href'))

In [17]:
print(len(job_title),len(job_location),len(company_name),len(experiance_required),len(urls))

10 10 10 10 10

In [18]:
import pandas as pd
data=pd.DataFrame({"Title":job_title,"Location":job_location,"Company":company_name,"Experience":experiance_required,"Job Link":urls})
data

,Title,Location,Company,Experience,Job Link
0,Senior data scientist,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Protocol,4-8 Yrs,https://www.naukri.com/fractal-protocol-jobs-c...
1,Data Scientist_NLP,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Protocol,5-11 Yrs,https://www.naukri.com/fractal-protocol-jobs-c...
2,Data Scientist,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Protocol,3-7 Yrs,https://www.naukri.com/fractal-protocol-jobs-c...
3,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs,https://www.naukri.com/accenture-jobs-careers-...
4,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs,https://www.naukri.com/accenture-jobs-careers-...
5,Senior Data Scientist-New Frontiers,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",IDFC FIRST Bank,3-7 Yrs,https://www.naukri.com/idfc-first-bank-jobs-ca...
6,Data Scientist,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Cognizant,8-10 Yrs,https://www.naukri.com/cognizant-jobs-careers-...
7,Lead ML Scientist,"Mumbai, Bangalore/Bengaluru",Fractal Protocol,6-10 Yrs,https://www.naukri.com/fractal-protocol-jobs-c...
8,Lead Machine Learning Specialist,"Mumbai, Bangalore/Bengaluru",Fractal Protocol,6-12 Yrs,https://www.naukri.com/fractal-protocol-jobs-c...
9,Sr. Data scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Tata Consultancy Services (TCS),7-12 Yrs,https://www.naukri.com/tata-consultancy-servic...