### 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
#### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [2]:
# connect to the driver
driver = webdriver.Chrome(r"C:\Users\pc\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\pc\AppData\Local\Temp\ipykernel_712\80213923.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\pc\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
# scraping the naukri page automated chrome browser
driver.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")

In [4]:
search=driver.find_element(By.XPATH,'//div[@class="drop-down__clickzone js-drop-down-trigger"]')
search.click()

In [5]:
rank=driver.find_element(By.XPATH,'/html/body/main/div/div[1]/div/div/div[4]/div[2]/ul/li[2]/a')
rank.click()

In [6]:
ODI=driver.find_element(By.XPATH,'/html/body/main/div/div[2]/section/div/div/div/ul/li[2]/a')
ODI.click()

In [7]:
teams=[]
team=driver.find_elements(By.XPATH,'//span[@class="u-hide-phablet"]')
for i in team[0:10]:
    teams.append(i.text)
print(teams)

['India', 'Australia', 'New Zealand', 'England', 'Pakistan', 'South Africa', 'Bangladesh', 'Sri Lanka', 'Afghanistan', 'West Indies']

In [8]:
Matches=[]
matches=driver.find_elements(By.XPATH,'/html/body/main/div/div[2]/div/div/section/div[3]/table/tbody/tr/td[3]')
for i in matches[0:10]:
    Matches.append(i.text)
print(Matches)

['44', '32', '29', '33', '25', '27', '33', '34', '20', '41']

In [9]:
points=[]
point=driver.find_elements(By.XPATH,'/html/body/main/div/div[2]/div/div/section/div[3]/table/tbody/tr/td[4]')
for i in point[0:10]:
    points.append(i.text)
print(points)

['5,010', '3,572', '3,229', '3,656', '2,649', '2,775', '3,129', '2,976', '1,419', '2,902']

In [10]:
ratings=[]
rate=driver.find_elements(By.XPATH,'/html/body/main/div/div[2]/div/div/section/div[3]/table/tbody/tr/td[5]')
for i in rate[0:10]:
    ratings.append(i.text)
print(ratings)

['114', '112', '111', '111', '106', '103', '95', '88', '71', '71']

In [11]:
print(len(teams),len(Matches),len(points),len(ratings))

10 10 10 10

In [12]:
odi=driver.find_element(By.XPATH,'/html/body/main/div/div[2]/section/div/div/div/ul/li[2]/a')
odi.click()

In [13]:
import pandas as pd
data=pd.DataFrame({"Teams":teams,"Matches":Matches,'Points':points,"Ratings":ratings})
data

          Teams Matches Points Ratings
0         India      44  5,010     114
1     Australia      32  3,572     112
2   New Zealand      29  3,229     111
3       England      33  3,656     111
4      Pakistan      25  2,649     106
5  South Africa      27  2,775     103
6    Bangladesh      33  3,129      95
7     Sri Lanka      34  2,976      88
8   Afghanistan      20  1,419      71
9   West Indies      41  2,902      71

#### b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [2]:
# connect to the driver
driver = webdriver.Chrome(r"C:\Users\pc\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\pc\AppData\Local\Temp\ipykernel_10112\80213923.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\pc\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
# scraping the naukri page automated chrome browser
driver.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")

In [4]:
Players=[]
ratings=[]
teams=[]

In [5]:
player1=driver.find_element(By.XPATH,'/html/body/main/div/div[2]/div/div/div/div/div[1]/div/div[1]/a/div/div[2]/div[1]')
Players.append(player1.text)

In [6]:
team1=team=driver.find_element(By.XPATH,'//div[@class="rankings-block__banner--nationality"]')
teams.append(team1.text.split("\n")[0])

In [7]:
print(teams)

['AUS']

In [8]:
rating1=driver.find_element(By.XPATH,'//div[@class="rankings-block__banner--rating"]')
ratings.append(rating1.text)

In [9]:
team=driver.find_elements(By.XPATH,'//span[@class="table-body__logo-text"]')
for i in team[0:9]:
    teams.append(i.text)
print(teams)

['AUS', 'AUS', 'SA', 'ENG', 'AUS', 'IND', 'IND', 'AUS', 'SL', 'NZ']

In [11]:
player=driver.find_elements(By.XPATH,'//td[@class="table-body__cell rankings-table__name name"]')
for i in player[0:9]:
    Players.append(i.text)
print(Players)

['Alyssa Healy', 'Beth Mooney', 'Laura Wolvaardt', 'Natalie Sciver', 'Meg Lanning', 'Harmanpreet Kaur', 'Smriti Mandhana', 'Rachael Haynes', 'Chamari Athapaththu', 'Amy Satterthwaite']

In [12]:
rate=driver.find_elements(By.XPATH,'//td[@class="table-body__cell rating"]')
for i in rate[0:9]:
    ratings.append(i.text)
print(ratings)

['762', '754', '732', '731', '717', '716', '714', '680', '655', '641']

In [13]:
print(len(teams),len(Players),len(ratings))

10 10 10

In [14]:
import pandas as pd
df=pd.DataFrame({"Players":Players,"Teams":teams,"Ratings":ratings})
df

               Players Teams Ratings
0         Alyssa Healy   AUS     762
1          Beth Mooney   AUS     754
2      Laura Wolvaardt    SA     732
3       Natalie Sciver   ENG     731
4          Meg Lanning   AUS     717
5     Harmanpreet Kaur   IND     716
6      Smriti Mandhana   IND     714
7       Rachael Haynes   AUS     680
8  Chamari Athapaththu    SL     655
9    Amy Satterthwaite    NZ     641

#### c) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [15]:
Players=[]
ratings=[]
teams=[]

In [17]:
player1=driver.find_element(By.XPATH,'//div[@class="rankings-block__banner--name-large"]')
Players.append(player1.text)

In [19]:
team1=team=driver.find_element(By.XPATH,'//div[@class="rankings-block__banner--nationality"]')
teams.append(team1.text.split('\n')[0])

In [21]:
rating1=driver.find_element(By.XPATH,'//div[@class="rankings-block__banner--rating"]')
ratings.append(rating1.text)

In [22]:
team=driver.find_elements(By.XPATH,'//span[@class="table-body__logo-text"]')
for i in team[0:9]:
    teams.append(i.text)
print(teams)

['WI', 'ENG', 'AUS', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'PAK', 'IND']

In [24]:
player=driver.find_elements(By.XPATH,'//td[@class="table-body__cell rankings-table__name name"]')
for i in player[0:9]:
    Players.append(i.text)
print(Players)

['Hayley Matthews', 'Natalie Sciver', 'Ellyse Perry', 'Marizanne Kapp', 'Amelia Kerr', 'Deepti Sharma', 'Ashleigh Gardner', 'Jess Jonassen', 'Nida Dar', 'Jhulan Goswami']

In [25]:
rate=driver.find_elements(By.XPATH,'//td[@class="table-body__cell rating"]')
for i in rate[0:9]:
    ratings.append(i.text)
print(ratings)

['373', '371', '366', '349', '336', '322', '292', '250', '232', '214']

In [26]:
print(len(teams),len(Players),len(ratings))

10 10 10

In [28]:
import pandas as pd
data=pd.DataFrame({"Players":Players,"Teams":teams,"Ratings":ratings})
data

            Players Teams Ratings
0   Hayley Matthews    WI     373
1    Natalie Sciver   ENG     371
2      Ellyse Perry   AUS     366
3    Marizanne Kapp    SA     349
4       Amelia Kerr    NZ     336
5     Deepti Sharma   IND     322
6  Ashleigh Gardner   AUS     292
7     Jess Jonassen   AUS     250
8          Nida Dar   PAK     232
9    Jhulan Goswami   IND     214